/* Стили для экрана Входа */
div.login-img {
    text-align: center;
    padding: 6px;
    border-bottom: 1px solid #6e6e6e;
    margin-bottom: 10px;
}

/* Стили в Админке */
div.site-index {
    /*border-bottom: solid 2px #626262;*/
}
div.apple-func {
    text-align: center;

}
div.apple-tip {
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}
div.apple-tree-box {
    margin-top: 10px;
}
div.apple-tree {
    background-image: url(/backend/web/images/apple-tree.png);
    background-size: cover;
    width: 665px;
    height: 794px;
    margin-left: auto;
    margin-right: auto;
}
div.apple-tree-group {
    width: 580px;
    height: 400px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /*border: solid 1px #000;*/
}
div.apple {
    cursor: pointer;
    float: left;
    margin: 4px;
    width: 46px;
    height: 46px;
    /*background-color: red;*/
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
div.apple-ground-group {
    margin-top: 125px;
    width: 580px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    /*border: solid 1px #000;*/
}
div.apple-on-ground {
    cursor: pointer;
    float: left;
    margin: 4px;
    width: 46px;
    height: 46px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.output-eat-apple {
    font-size: 1.2em;
}
.output-eat-apple:after {
    content: " %";
}

/* Выбор цвета нового яблока */
.labels > span > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    float: none;
}
.labels > span > ul > li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #CCC;
    overflow: hidden;
    text-indent: -2000px;
}
.labels > span > ul > li.selected,
.labels > span > ul > li:hover { border: 1px solid #000; }
.labels > span > ul > li + li { margin-left: 5px; }
.labels > span > ul > li.label1 { background: red; }
.labels > span > ul > li.label2 { background: green; }
.labels > span > ul > li.label3 { background: blue; }
.labels > span > ul > li.label4 { background: yellow; }
.labels > span > ul > li.label5 { background: orange; }
.labels > span > ul > li.label6 { background: maroon; }